import pandas as pd
import numpy as np

# Dosyayı oku
df = pd.read_excel("C:/Users/ilayd/OneDrive/Masaüstü/Salary_Data.xlsx")


df = df.dropna()

null = df.isnull().sum()
print(null)
   
# "Other" gözlemlerini çıkarma
data_filtered = df[df['Gender'] != 'Other']

# Filtrelenmiş veriyi kontrol etme
print(data_filtered.head())

# Filtrelenmiş verinin boyutunu kontrol etme
print(data_filtered.shape)


# "Male" ve "Female" değerlerini 1 ve 0 olarak atama
df['Gender'] = df['Gender'].map({'Male': 1, 'Female': 0})


# Atamanın doğru yapıldığını kontrol etme
print(df['Gender'].value_counts())
print(df.head())

# Outlier (aykırı) değerleri çıkar
def remove_outliers(df):
    Q1 = df.quantile(0.25)
    Q3 = df.quantile(0.75)
    IQR = Q3 - Q1
    return df[~((df < (Q1 - 1.5 * IQR)) |(df > (Q3 + 1.5 * IQR))).any(axis=1)]

df = remove_outliers(df)


from scipy import stats

# Erkek ve kadınların maaşlarını ayırma
male_salaries = df[df['Gender'] == 1]['Salary']
female_salaries = df[df['Gender'] == 0]['Salary']

# T-testi gerçekleştirme
t_stat, p_value = stats.ttest_ind(male_salaries, female_salaries)

print(f"T-Statistik: {t_stat}")
print(f"P-Değeri: {p_value}")

# İstatistiksel olarak anlamlı olup olmadığını kontrol etme
alpha = 0.05
if p_value < alpha:
    print("Erkek ve kadınların maaş ortalamaları arasında istatistiksel olarak anlamlı bir fark vardır.")
else:
    print("Erkek ve kadınların maaş ortalamaları arasında istatistiksel olarak anlamlı bir fark yoktur.")

#Çıktılar incelendiğinde istatistiksel olarak bir fark olduğu görülüyor.
#Bu farkın nelerden kaynaklandığını araştıralım.


